langchain
python-dotenv
langchain_community
pypdf
pymupdf
git+https://people.csail.mit.edu/hubert/git/pyaudio.gitlangchain-text-splitters
lxml
langchain-openai
langchain_chroma
streamlit
langchain_groq
langchain_huggingface
